:root {
    --principal: #2643FF;
    --back-principal: #e7e7e7;
    --back-contrast: #c8c8c8;
    --back-mobile-menu: rgb(200, 200, 200, .9);
    --font: #131313;
    --font-menu: #2643FF;
    --font-medium: 14rem;
    --font-large: 16rem;
    --Logo-name: url('./ps4-Controller-clear2.svg');
    --name-site: url('./ps-letter.svg');
    --auth-logo: url('./authLogoForClearGray.svg');
    --theme-logo: url('./moon.svg');
    --header-heigth: 55rem;
    --lateral-width: 60rem;
}

/* :root {
    --principal: #3AFF33;
    --back-principal: #131313;
    --back-contrast: #adadad;
    --font: #e7e7e7;
    --Logo-name: url('./ps4-Controller-clear2.svg');
    --name-site: url('./ps-letter3.svg');
    --auth-logo: url('./authLogoForClearGray.svg');
    --theme-logo: url('./moon.svg');
} */

html {
    font-size: 6.25%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14rem;
    font-family: 'Orbitron', sans-serif;
}

body {
    min-width: 320rem;
    background-color: var(--back-principal);

}

.loader {
    display: block;
    margin: 0 auto;
    height: 40rem;
    width: 60rem;
    /*Momentaneo*/
    margin-top: 55rem;
    /* scroll-margin-top: 55px; */
}

.error {
    padding: 16rem;
    text-align: center;
    font-weight: 700;
    color: white;
    background-color: #dc3545;
}

/* /////////////////////// Header ///////////////////////*/


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-heigth);
    padding: 0 24rem;
    background-color: var(--back-principal);
    border-bottom: thin solid var(--back-contrast);
    background-image: var(--auth-logo);
    background-repeat: no-repeat;
    /* background-position: 90rem -55rem; */
    background-position: calc(100vw - 115rem) calc((var(--header-heigth) - 25rem) * (-1));
    background-size: 8%;
    z-index: 1;
}

.header-logo-name {
    display: flex;
    gap: 5rem;
}

.header-logo {
    height: 35rem;
    width: 60rem;
    background-image: var(--Logo-name);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header-name {
    height: 35rem;
    width: 210rem;
    background-image: var(--name-site);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header-search-form {
    position: relative;
    width: 35%;
    transition: .5s all ease;
    visibility: visible;
    animation: fadeIn .5s both;
    -webkit-animation: fadeIn .5s both;
}

.header-input-search {
    height: 35rem;
    width: 100%;
    padding: 0 10rem 0 35rem;
    font-size: 12rem;
    font-weight: 700;
    border-radius: 8rem;
    border: none;
    outline-color: var(--principal);
    background-color: var(--back-contrast);
}

.header-input-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 35rem;
    width: 35rem;
    background-image: url('./lupa.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 8rem 0 0 8rem;
}

.header-input-search::placeholder {
    color: var(--font);
}

.header-btnTheme-authLogo {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
}

.header-btn-theme {
    height: 35rem;
    width: 25rem;
    border: none;
    background: none;
    background-image: var(--theme-logo);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    border-radius: 5rem;
    transition: .2s ease;
}

.header-btn-theme:hover {
    background-color: var(--back-contrast);
}

/* /////////////////////// Side Menu ///////////////////////*/

.sidebar-menu {
    position: fixed;
    top: 50vh;
    left: calc((var(--lateral-width) - 35rem) / 2);
    width: 35rem;
    padding: 4rem;
    border-radius: 8rem;
    transform: translate(0, -77.5rem);
    overflow-x: hidden;
    border: solid 1rem var(--back-contrast);
    background-color: var(--back-principal);
    transition: .4s ease;
    visibility: visible;
    animation: fadeIn .5s both;
    -webkit-animation: fadeIn .5s both;
}

.open-sidebar-menu {
    width: 145rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15rem;
    height: 100%;
    width: 100%;
}

.option-menu {
    display: flex;
    gap: 10rem;
    text-decoration: none;
    border-radius: 5rem;
    transition: .2s;
}

.option-menu:hover {
    background-color: var(--back-contrast);
    font-weight: 500;
}

.menu-btn {
    height: 25rem;
    width: 25rem;
    border-radius: 5rem;
    border: none;
    background-color: #131313;
}

.open-menu-btn {
    margin: 0 0 0 auto;
}

.option-menu-img {
    height: 25rem;
    min-width: 25rem;
    border-radius: 5rem;
    background-color: #2643FF;
}

.option-menu-text {
    display: flex;
    align-items: center;
    visibility: hidden;
    width: 0;
    color: var(--font);
    transition: 1s;
}

.open-menu-text {
    visibility: visible;
    width: auto;
}

/* /////////////////////// Main ///////////////////////*/

.main {
    margin: var(--header-heigth) var(--lateral-width) 0 var(--lateral-width);
    transition: .4s ease;
}

.main-open-menu {
    margin: var(--header-heigth) 0 0 165rem;
}

.main-mobile-search-container {
    display: none;
}

/* /////////////////////// Home ///////////////////////*/

.home-games {
    display: flex;
    flex-wrap: wrap;
    gap: 20rem;
    min-width: 320rem;
    padding: 20rem 0;
    min-height: calc(100vh - var(--header-heigth));
    /* background-color: burlywood; */
}

.home-best-games {
    flex-grow: 1;
    min-width: 550rem;
    width: calc(60% - 10rem);
    /* background-color: orangered; */
}

.home-trailers {
    flex-grow: 1;
    min-width: 300rem;
    width: calc(40% - 10rem);
    /* background-color: aquamarine; */
}

.home-grid-games {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15rem;
    /* background-color: brown; */
}

.cards {
    border-radius: 10rem;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
}

.card-1 {
    background-color: cornflowerblue;
    grid-area: 1/1/3/3;
    min-height: 300rem;
    height: calc(((100vh - var(--header-heigth) - 72rem) / 3) * 2);
}

.card-2 {
    background-color: greenyellow;
    grid-area: 1/3/3/4;

}

.home-cards {
    background-color: #e7e7e7;
    min-height: 160rem;
    height: calc(((100vh - var(--header-heigth) - 72rem) / 3));
}


/* /////////////////////// Mobile Menu ///////////////////////*/

.mobile-menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: var(--header-heigth) var(--lateral-width) 20rem var(--lateral-width);
    overflow-y: auto;
    display: none;
    justify-content: center;
    background-color: var(--back-mobile-menu);
    /* background-color: rgb(38, 67, 255, .85); */
    /* background-color: rgb(200, 200, 200, .85); */
    /* clip-path: circle(10rem at 44rem calc(100vh - 44rem)); */
    transition: .8s ease;
    z-index: 1;

}

.mobile-menu {
    width: 100%;
}

.option-mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60rem;
    margin-bottom: 5rem;
    padding: 0 10rem;
    border-radius: 8rem;
    color: var(--font-menu);
    text-decoration: none;
    font-weight: 900;
    font-size: 20rem;
    transition: ease 1s;
}

.option-mobile-menu:hover {
    background-color: var(--back-contrast);
}

.btn-mobile-menu {
    visibility: hidden;
    position: fixed;
    height: 48rem;
    width: 48rem;
    z-index: 1;
    bottom: 10rem;
    right: 10rem;
    border-radius: 12rem;
    border: solid 2rem var(--back-contrast);
    background-color: var(--back-principal);
}


@media screen and (min-width: 1400px) {
    :root {
        --header-heigth: 70rem;
        --lateral-width: 70rem
    }
}

@media screen and (max-width: 850px) {

    :root {
        --lateral-width: 40rem;
    }

    .header {
        background-image: var(--auth-logo);
        background-repeat: no-repeat;
        background-position: calc(100vw - 115rem) -50rem;
        background-size: 16%;
    }

    .header-btn-theme {
        height: 40rem;
        width: 40rem;
        background-size: 50%;
    }

    .header-btnTheme-authLogo {
        width: auto;
    }

    .main {
        margin: var(--header-heigth) var(--lateral-width) 0 var(--lateral-width);
    }

    .sidebar-menu {
        visibility: hidden;
        animation: fadeOut .5s both;
        -webkit-animation: fadeOut .5s both;
    }

    .home-games {
        min-width: auto;
    }

    .home-best-games {
        min-width: 350rem;
    }

    .mobile-menu-container {
        display: flex;
    }

    .btn-mobile-menu {
        visibility: visible;
        animation: fadeIn 1s both;
        -webkit-animation: fadeIn 1s both;
    }

}

@media screen and (max-width: 650px) {
    .header-search-form {
        visibility: hidden;
        animation: fadeOut .5s both;
        -webkit-animation: fadeOut .5s both;
    }

    .main {
        margin: calc(var(--header-heigth) + 20rem) var(--lateral-width) 0 var(--lateral-width);
    }

    .main-mobile-search-container {
        display: block;
    }

    .main-mobile-search {
        position: relative;
    }

    .home-grid-games {
        grid-template-columns: repeat(1, 1fr);
        /* background-color: brown; */
    }

    .cards {
        border-radius: 10rem;
        min-height: 200rem;
        height: calc((100vh - var(--header-heigth) - 87rem) / 2);
    }

    .card-1 {
        background-color: cornflowerblue;
        grid-area: initial;
    }

    .card-2 {
        background-color: greenyellow;
        grid-area: initial;

    }

    .home-cards {
        background-color: #e7e7e7;
    }
}

@media screen and (max-width: 450px) {

    :root {
        --name-site: url('./ps-letter-mobile.svg');
        --header-heigth: 60rem;
        --lateral-width: 20rem;
    }

    /* Header */

    .header {
        padding: 0 12rem;
        /* height: 60rem; */
        background-position: calc(100vw - 95rem) -35rem;
        background-size: 30%;
    }

    .header-logo-name {
        /* width: 100%; */
        gap: calc((100vw / 2) - 147rem);
    }

    .header-name {
        width: 150rem;
        /* margin-left: calc((100vw / 2) - 147rem); */
    }

    /* Main */
    /* .main {
        margin: var(--header-heigth) var(--lateral-width) 0 var(--lateral-width);
    } */

    .home-best-games {
        min-width: auto;
    }

    .home-grid-games {
        height: auto;
        grid-template-columns: 1fr;
    }

    .home-card {
        grid-area: initial;

    }

    .home-card-3 {
        grid-area: initial;
    }
}


.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}